<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionName="2.0"
    package="com.geom.geometricsolver3">
    <uses-permission android:name="android.permission.INTERNET"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeometricSolver3">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5814028506169648~7879675580"/>

        <activity
            android:name="com.geom.geometricsolver3.FigureCalculator1"
            android:exported="false"
            android:parentActivityName="com.geom.geometricsolver3.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.geom.geometricsolver3.ParallelogramCalculator1"
            android:exported="false"
            android:parentActivityName="com.geom.geometricsolver3.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.geom.geometricsolver3.TriangleCalculator3"
            android:exported="false"
            android:parentActivityName="com.geom.geometricsolver3.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.geom.geometricsolver3.TriangleCalculator2"
            android:exported="false"
            android:parentActivityName="com.geom.geometricsolver3.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.geom.geometricsolver3.TriangleCalculator1"
            android:exported="false"
            android:parentActivityName="com.geom.geometricsolver3.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.geom.geometricsolver3.HelpActivity"
            android:exported="false"
            android:parentActivityName="com.geom.geometricsolver3.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.geom.geometricsolver3.AboutActivity"
            android:exported="false"
            android:parentActivityName="com.geom.geometricsolver3.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.geom.geometricsolver3.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            />
    </application>


</manifest>